* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

.content {
  margin: 0 auto;
  width: 50%;
}

.title {
  margin-bottom: 20px;
}

.add-todo {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.add-todo__input {
  border: 1px solid;
  flex: 1;
  font-size: 1em;
  padding: 0.5em;
  min-width: 100px;
}

.add-todo__button {
  flex-shrink: 0;
  background: transparent;
  padding: 0.5em;
  font-size: 1em;
  border: 0;
  cursor: pointer;
}

.filters {
  display: flex;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.filters > * {
  margin-right: 5px;
}

.filters > :nth-child(n + 2):nth-child(-n + 3)::after {
  content: ", ";
}

.filters > :nth-child(n + 2) {
  cursor: pointer;
  user-select: none;
}

.todo-list {
  list-style-type: none;
  width: 100%;
  margin-bottom: 20px;
}

.todo-item {
  font-size: 1em;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  user-select: none;
  cursor: pointer;
}

.todo-item-enter {
  opacity: 0;
}

.todo-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.todo-item-exit {
  opacity: 1;
}

.todo-item-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ease-in;
}

.todo-item__text {
  margin-right: 5px;
  flex: 1;
  height: 100%;
  line-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}

.todo-item__text:hover {
  background-color: #f1f1f1;
}

.todo-item__text--done {
  color: #aaa;
  text-decoration: line-through black;
}

.todo-item__delete {
  flex-shrink: 0;
  margin-left: auto;
  margin: 0.5em;
  font-size: 1em;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2f9fc1;
  left: 0;
  text-align: center;
}

.loader {
  display: none;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #65bf20;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 45%;
  left: 50%;
  animation: spin 2s linear infinite;
}

.loader--visible {
  display: block;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 900px) {
  body {
    padding: 1em;
  }

  .content {
    width: 100%;
  }
}
